* {
    padding: 0;
    margin: 0;
    cursor: default;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,800|Raleway:400,500,600,800|Merriweather:300,400');
@mixin font($font,
$size,
$weight,
$color) {
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

.content {
    padding: 0 150px;
}

.header {
    padding: 65px 150px 130px;
    background-color: #eff0f2;
    .main-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .menu {
        justify-self: end;
        position: relative;
    }
    .smart-menu {
        display: none;
    }
    .smart-menu-block {
        display: grid;
        width: 35px;
        height: 31px;
        justify-items: center;
        align-items: center;
        border-radius: 5px;
    }
    .menu-img {
        cursor: pointer;
    }
    .navigation {
        position: absolute;
        display: grid;
        grid-auto-columns: max-content;
        right: -72px;
        height: 0;
        transition: height 0.3s ease;
        overflow: hidden;
        &__item {
            @include font('Raleway',
            16px,
            600,
            #000);
            letter-spacing: 0.03em;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
            padding: 3px 5px 0;
            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }
    #smart-menu:checked~.smart-menu-block {
        background: #c6c6c7;
    }
    #smart-menu:checked~.navigation {
        height: 139px;
        transition: height 0.3s ease;
        border: 2px solid black;
        background-color: #dfe0e2;
    }
    .header-title {
        text-align: center;
        @include font('Montserrat',
        45px,
        800,
        #505050);
        text-transform: uppercase;
        letter-spacing: 0.06em;
        text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
        &__position {
            padding: 205px 0 140px;
        }
    }
    .header-title-bg {
        background-color: #b1f1ed;
        padding: 0 10px;
    }
    .header-btn {
        text-align: center;
    }
    .header-btn-item {
        @include font('Montserrat',
        18px,
        400,
        #3c3c3d);
        letter-spacing: 0.12em;
        text-transform: uppercase;
        text-decoration: none;
        border: 2px solid #777879;
        padding: 18px 45px;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
            background-color: #5e5f5f;
            color: #fff;
            border-color: #5e5f5f;
        }
    }
    .header-drink {
        display: grid;
        justify-content: end;
    }
    .drink-img {
        width: 77px;
        height: 86px;
        margin-right: 110px;
        background-image: url(../images/drink.png);
        &:hover {
            background-image: url(../images/drink-h.png);
        }
    }
}

.titles {
    text-align: center;
    padding: 120px;
    .title {
        @include font('Montserrat',
        38px,
        800,
        #000);
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
    .subtitle {
        @include font('Merriweather',
        18px,
        400,
        #5e5f5f);
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
}

.about-us {
    background-color: #f8fafa;
    padding: 0 150px 110px;
    .about-us-block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, auto));
        justify-items: center;
    }
    .about-us-slider {
        padding-bottom: 45px;
    }
    .carousel {
        padding: 0 45px;
        background-image: url(../images/about-rect.png);
        background-position-y: 50%;
        background-repeat: no-repeat;
    }
    .slide-1,
    .slide-2,
    .slide-3,
    .slide-4 {
        width: 390px;
        height: 480px;
        background-image: url(../images/about.png);
        background-position-x: 39%;
    }
    .carousel-indicators {
        margin: 0;
        bottom: -43px;
    }
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 3px;
        background-color: #d0d0d0;
    }
    .carousel-indicators .active {
        background-color: #71f6eb;
    }
    .about-text-wrap {
        padding-top: 30px;
    }
    .about-text {
        padding: 0 52px;
        &__title {
            @include font('Merriweather',
            20px,
            bold,
            #000);
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
        &__text {
            @include font('Raleway',
            16px,
            400,
            #000);
            letter-spacing: 0.05em;
            line-height: 28px;
            padding-top: 15px;
            &_d-block {
                padding-top: 25px;
                display: block;
            }
        }
        &__subtitle {
            @include font('Merriweather',
            17px,
            bold,
            #000);
            letter-spacing: 0.06em;
            text-transform: uppercase;
            &_padding-top-20 {
                padding-top: 20px;
            }
        }
    }
}

.work {
    padding: 0 150px 120px;
    .work-portfolio {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }
    .work-img {
        &__item {
            max-width: 100%;
            width: 100%;
        }
    }
}

.services {
    background-color: #f9fbfb;
    padding: 0 150px 50px;
    .grid-service {
        display: grid;
        grid-template-rows: 420px 372px 372px;
        grid-template-columns: 1fr 0.3fr 1fr;
        grid-gap: 12px;
    }
    .service-block:nth-child(1),
    .service-block:nth-child(3) {
        grid-column: 1 / 3;
    }
    .service-block:nth-child(6) {
        grid-column: 4 / 2;
    }
    .service-block {
        overflow: hidden;
        position: relative;
        &__img {
            max-width: 100%;
            width: 100%;
        }
    }
    .service-caption-wrap {
        width: 100%;
        position: absolute;
        top: 0;
        height: 0;
        background-color: rgba(0, 0, 0, 0.65);
        transition: 0.3s ease;
        z-index: -1;
        display: grid;
    }
    .service-caption {
        align-self: flex-end;
        margin: 0 0 50px 50px;
        width: 85%;
    }
    .caption-title {
        @include font('Merriweather',
        20px,
        900,
        #f7f7f7);
        letter-spacing: 0.06;
        text-transform: uppercase;
        &_color-black {
            color: #000;
        }
    }
    .caption-text {
        padding: 25px 0 45px;
        @include font('Raleway',
        16px,
        400,
        #eaecec);
        letter-spacing: 0.02;
        &_color-black {
            padding: 25px 0 50px;
            color: #000;
        }
    }
    .caption-link {
        @include font('Raleway',
        18px,
        500,
        #eaecec);
        letter-spacing: 0.04;
        text-transform: uppercase;
        width: max-content;
    }
    .service-description-wrap {
        height: 0;
        width: 100%;
        background-color: #71f5ea;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        overflow: hidden;
        display: grid;
        align-items: start;
    }
    .service-description {
        margin: 50px 0 0 40px;
        width: 80%;
    }
    .caption-link {
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
}

.caption-off {
    width: max-content; 
    .fa-times {
        cursor: pointer;
    }
}

.service-block:hover .service-caption-wrap {
    transition: 0.3s ease;
    height: 100%;
    z-index: 2;
}

.caption-link:focus~.service-description-wrap {
    height: 100%;
}

.service-description-wrap:focus {
    height: 100%;
    outline: none
}

.team {
    padding: 0 150px 110px;
    .titles {
        padding: 120px 0;
    }
    .team-post {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(359px, 420px));
        justify-content: center;
        grid-gap: 15px;
    }
    .team-block {
        position: relative;
        cursor: pointer;
        &:hover {
            .team-description-wrap {
                opacity: 1;
                transition: 0.5s;
            }
        }
    }
    .team-img {
        max-width: 100%;
        width: 100%;
    }
    .team-description-wrap {
        width: 100%;
        position: absolute;
        bottom: 15px;
        display: grid;
        justify-items: center;
        opacity: 0;
        transition: 0.5s;
        &::before {
            content: "";
            border: 20px solid transparent;
            border-bottom: 39px solid #70f6eb;
            position: absolute;
            left: 42px;
            top: -42px;
        }
    }
    .team-description {
        width: 90%;
        background-color: #70f6eb;
    }
    .team-description-block {
        padding: 40px;
    }
    .team-name {
        @include font('Merriweather',
        21px,
        900,
        #000);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        &__work {
            @include font('Merriweather',
            15px,
            400,
            #757f7e);
            letter-spacing: 0.03em;
            font-style: italic;
            text-transform: capitalize;
        }
    }
    .team-text {
        @include font('Raleway',
        16px,
        400,
        #000);
        letter-spacing: 0.01em;
        line-height: 24px;
        padding: 20px 0 40px;
    }
    .fa {
        padding-right: 12px;
    }
}

.testimonial {
    background-color: #f9fbfb;
    padding: 0 150px 100px;
    .testominal-content {
        position: absolute;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1.7fr;
        column-gap: 83px;
        justify-items: center;
        align-items: center;
    }
    .slider-testominal {
        margin: auto;
        width: 100%;
        height: 430px;
        position: relative;
        margin-top: 80px;
        margin-bottom: 70px;
        &__input {
            display: none;
        }
        &__slides {
            width: inherit;
            height: inherit;
        }
    }
    .testominal-photo-block {
        padding: 0 30px;
        background-image: url(../images/says-rect.png);
        background-position-y: 50%;
        background-repeat: no-repeat;
    }
    .testominal-text {
        padding: 101px 93px 80px;
        text-align: center;
        background-image: url(../images/says-rect-2.png);
        &__title {
            @include font('Merriweather',
            20px,
            900,
            #000000);
            letter-spacing: 0.06em;
            &_font {
                @include font('Merriweather',
                15px,
                400,
                #787878);
                font-style: italic;
            }
        }
        &__text {
            @include font('Raleway',
            16px,
            400,
            #000000);
            letter-spacing: 0.06em;
            line-height: 27px;
        }
    }
    .testominal-star {
        display: grid;
        width: 113px;
        grid-template-columns: repeat(5, 1fr);
        margin: 30px auto 0;
        &__star {
            background-image: url(../images/star.svg);
            width: 16px;
            height: 14px;
        }
    }
    #slide-testominal-1:checked~.slider-testominal__slides>.slide-testominal-1,
    #slide-testominal-2:checked~.slider-testominal__slides>.slide-testominal-2,
    #slide-testominal-3:checked~.slider-testominal__slides>.slide-testominal-3,
    #slide-testominal-4:checked~.slider-testominal__slides>.slide-testominal-4 {
        z-index: 1;
    }
    .controls {
        display: grid;
        grid-template-columns: 1fr 1.7fr;
        column-gap: 83px;
    }
    .commands {
        justify-self: center;
        padding-top: 39px;
        &__item {
            width: 10px;
            height: 10px;
            border-radius: 3px;
            background-color: #d0d0d0;
            cursor: pointer;
            z-index: 1;
            margin: 0 3px;
        }
    }
    .arrow .arrow__item {
        display: none;
    }
    #slide-testominal-1:checked~.controls .commands__item:nth-child(1),
    #slide-testominal-2:checked~.controls .commands__item:nth-child(2),
    #slide-testominal-3:checked~.controls .commands__item:nth-child(3),
    #slide-testominal-4:checked~.controls .commands__item:nth-child(4) {
        background-color: #71f6eb;
    }
    #slide-testominal-1:checked~.controls .arrow__item:nth-child(2),
    #slide-testominal-2:checked~.controls .arrow__item:nth-child(3),
    #slide-testominal-3:checked~.controls .arrow__item:nth-child(4),
    #slide-testominal-4:checked~.controls .arrow__item:nth-child(1) {
        width: 54px;
        height: 54px;
        display: block;
        position: absolute;
        right: 0;
        background: url(../images/arrow-r.svg) no-repeat center #fff;
        box-shadow: 3px 7px 11px 0px rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        cursor: pointer;
        &:hover {
            box-shadow: 2px 6px 11px 0px rgba(0, 0, 0, 0.1);
            background: url(../images/arrow-rh.svg) no-repeat center #71f6eb;
        }
    }
    #slide-testominal-1:checked~.controls .arrow__item:nth-child(4),
    #slide-testominal-2:checked~.controls .arrow__item:nth-child(1),
    #slide-testominal-3:checked~.controls .arrow__item:nth-child(2),
    #slide-testominal-4:checked~.controls .arrow__item:nth-child(3) {
        width: 54px;
        height: 54px;
        display: block;
        position: absolute;
        right: 60px;
        background: url(../images/arrow-l.svg) no-repeat center #fff;
        box-shadow: 3px 7px 11px 0px rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        cursor: pointer;
        &:hover {
            box-shadow: 2px 6px 11px 0px rgba(0, 0, 0, 0.1);
            background: url(../images/arrow-lh.svg) no-repeat center #71f6eb;
        }
    }
}

.logo-block {
    padding: 100px 0;
    &:hover {
        .logo-block-img {
            display: none;
        }
        .logo-block-img-h {
            display: inline;
        }
    }
    .logo-block-img-h {
        display: none;
        width: 100%;
        max-width: 100%;
    }
    .logo-block-img {
        width: 100%;
        max-width: 100%;
    }
}

.footer {
    .contact {
        background-image: url(../images/footer.png);
        background-size: cover;
        padding: 110px 150px;
    }
    .contact-block {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        column-gap: 25px;
    }
    .message {
        background-color: rgba(2, 22, 35, 0.7);
        padding: 15px 30px 38px;
    }
    .contact-form {
        display: grid;
        grid-template-columns: 1fr;
        &__item {
            padding: 15px 5px 5px;
            border: none;
            border-bottom: 1px solid #96a0a6;
            background-color: transparent;
            color: #96a0a6;
            &:focus {
                outline: none;
            }
            &:nth-child(8) {
                height: 80px;
                resize: none;
            }
        }
        &__button {
            width: 245px;
            text-transform: uppercase;
            background-color: #6eeee4;
            border: none;
            border-radius: 3px;
            @include font('Montserrat',
            18px,
            600,
            #000);
            letter-spacing: 0.12em;
            padding: 20px 40px 20px 38px;
            margin-top: 35px;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &:hover {
                background-color: #25d1c3;
            }
            &:active {
                background-color: #00ffea;
            }
        }
        &__title {
            @include font('Raleway',
            15px,
            400,
            #96a0a6);
            padding-top: 25px;
        }
    }
    .address {
        background-color: rgba(2, 22, 35, 0.7);
        padding: 30px 20px 20px;
        &__map {
            margin-top: 20px;
            width: 100%;
            height: 287px;
        }
    }
    .address-text,
    .web-address {
        @include font('Raleway',
        15px,
        400,
        #96a0a6);
        line-height: 24px;
        padding: 0 10px;
    }
    .web-address {
        margin-top: 30px;
    }
    .social {
        padding: 85px 0;
        background-color: #262b2e;
        text-align: center;
    }
    .social-title {
        @include font('Raleway',
        16px,
        400,
        #d4d5d5);
        text-transform: uppercase;
        letter-spacing: 0.01em;
    }
    .social-link {
        display: grid;
        width: 205px;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 8px;
        margin: 15px auto 30px;
        &__item {
            background-color: #424648;
            cursor: pointer;
            color: #bbb8b9;
            padding: 10px;
            &:hover {
                background-color: #6eeee4;
                color: #000;
            }
        }
    }
    .copyright {
        @include font('Raleway',
        16px,
        500,
        #54585a);
        letter-spacing: 0.01em;
    }
}

@media screen and (max-width: 1400px) {
    .about-us,
    .work {
        padding: 0 50px 110px;
        .work-portfolio {
            grid-template-columns: repeat(auto-fit, minmax(320px, auto));
        }
    }
    .team {
        padding: 0 15px 110px;
    }
    .services {
        padding: 0 50px 50px;
    }
    .testimonial {
        padding: 0 50px 110px;
        .testominal-text {
            padding: 50px 30px 60px;
        }
    }
    .footer {
        .contact {
            padding: 110px 50px;
        }
    }
}

@media screen and (max-width: 1260px) {
    .services {
        .service-block {
            &__img {
                max-width: none;
                width: auto;
            }
        }
        .service-description {
            margin: 20px 10px 0 20px;
            width: 90%;
        }
        .caption-text {
            &_color-black {
                padding: 25px 0 20px;
            }
        }
    }
}

@media screen and (max-width: 1184px) {
    .testimonial {
        .controls {
            column-gap: 20px;
        }
        .testominal-content {
            column-gap: 20px;
        }
    }
}

@media screen and (max-width: 1080px) {
    .testimonial {
        padding: 0 20px 110px;
        .testominal-photo-block {
            padding: 0;
        }
    }
}

@media screen and (max-width: 957px) {
    .header {
        padding: 65px 50px 130px;
        .header-title {
            &__position {
                padding: 100px 0 140px;
            }
        }
        .navigation {
            right: 0;
        }
    }
    .titles {
        padding: 80px;
    }
    .footer {
        .social {
            padding: 30px 0;
        }
        .contact-block {
            grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
            row-gap: 20px;
        }
    }
}

@media screen and (max-width: 895px) {
    .testimonial {
        padding: 0 20px 270px;
        .testominal-content {
            grid-template-columns: repeat(auto-fit, minmax(450px, auto));
            row-gap: 70px;
        }
        .controls {
            position: absolute;
            z-index: 2;
            width: 100%;
        }
        .commands {
            display: none;
        }
        #slide-testominal-1:checked~.controls .arrow__item:nth-child(2),
        #slide-testominal-2:checked~.controls .arrow__item:nth-child(3),
        #slide-testominal-3:checked~.controls .arrow__item:nth-child(4),
        #slide-testominal-4:checked~.controls .arrow__item:nth-child(1) {
            right: 40%;
        }
        #slide-testominal-1:checked~.controls .arrow__item:nth-child(4),
        #slide-testominal-2:checked~.controls .arrow__item:nth-child(1),
        #slide-testominal-3:checked~.controls .arrow__item:nth-child(2),
        #slide-testominal-4:checked~.controls .arrow__item:nth-child(3) {
            left: 40%;
        }
    }
    .services {
        padding: 0 20px 20px;
        .titles {
            padding: 80px 20px;
        }
        .grid-service {
            display: block;
        }
        .service-block {
            margin-bottom: 20px;
        }
        .service-block {
            &__img {
                max-width: 100%;
                width: 100%;
            }
        }
        .service-caption {
            margin-bottom: 30px;
        }
        .caption-title {
            font-size: 24px;
        }
        .caption-text {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 760px) {
    .header {
        .header-title {
            font-size: 30px;
        }
        .navigation {
            &__item {
                font-size: 22px;
            }
        }
        #smart-menu:checked~.navigation {
            height: 184px;
        }
        .header-drink {
            display: none;
        }
    }
    .about-us {
        .carousel-indicators li {
            width: 20px;
            height: 20px;
            margin: 0 5px;
        }
        .about-text {
            &__text {
                font-size: 22px;
            }
        }
    }
    .work {
        padding: 0 20px 50px;
        .titles {
            padding: 20px;
        }
    }
    .testimonial {
        padding: 0 20px 300px;
    }
    .logo-block {
        display: none;
    }
}

@media screen and (max-width: 630px) {
    .about-us {
        padding: 0 0 50px;
        .carousel {
            padding: 0 20px;
        }
        .about-text {
            padding: 10px;
        }
    }
    .services {
        .service-block {
            min-height: 380px;
            &__img {
                width: auto;
                max-width: none;
                min-height: 380px;
            }
        }
        .service-block:nth-child(2),
        .service-block:nth-child(4),
        .service-block:nth-child(5) {
            .service-block__img {
                width: 100%;
            }
        }
    }
    .team {
        .team-text {
            font-size: 19px;
        }
    }
    .testimonial {
        padding: 0 20px 350px;
        .titles {
            padding: 20px;
        }
        #slide-testominal-1:checked~.controls .arrow__item:nth-child(2),
        #slide-testominal-2:checked~.controls .arrow__item:nth-child(3),
        #slide-testominal-3:checked~.controls .arrow__item:nth-child(4),
        #slide-testominal-4:checked~.controls .arrow__item:nth-child(1) {
            right: 25%;
        }
        #slide-testominal-1:checked~.controls .arrow__item:nth-child(4),
        #slide-testominal-2:checked~.controls .arrow__item:nth-child(1),
        #slide-testominal-3:checked~.controls .arrow__item:nth-child(2),
        #slide-testominal-4:checked~.controls .arrow__item:nth-child(3) {
            left: 25%;
        }
    }
    .footer {
        .social-title,
        .copyright {
            font-size: 22px;
        }
        .contact {
            padding: 110px 20px;
        }
    }
}